body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  color: white;
  font-size: 1.25rem;
}

.incrementar {
  background: rgb(33, 33, 176);
}

.incrementar:hover {
  background: rgb(67, 67, 173);
}

.decrementar {
  background: rgb(203, 54, 54);
}

.decrementar:hover {
  background: rgb(193, 97, 97);
}
