body {
    margin: 0px;
    background: #f6f1f1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

header a {
    font-size: 1.25rem;
    text-decoration: none;
    color: rgb(29, 89, 94);
    font-weight: bold;
}

main {
    padding: 1rem;
}

h2 {
    text-align: center;
}

img {
    margin-right: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.825rem;
}